html {
    font-size: 62.5%; /* 1rem is 10px */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {

}

.nav {
    background-color: goldenrod;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px black;
}

.nav-cont {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > .nav-cont a {

    font-size: 20px;
}

.cat {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: blue;
    flex-direction: column;
    align-items: center;
    color: white;
}

.cat h1 {
    text-decoration: underline;

}